.container {
	max-width: 1360px;
}

nav {
	position: fixed !important;
	background-color: transparent;
	z-index: 1000;
	transition: background-color 1s ease 0s;
	box-shadow: none;
}

nav.solid {
	background-color: #ffffff !important;
	box-shadow: 0 0 6px #223d41;
	transition: background-color 1s ease 0s;
}

span {
	width: 100%;
}

nav ul a,
nav ul li {
	color: #ffffff;
}

nav.solid ul a,
nav.solid ul li {
	color: #223d41;
}

nav ul a:hover {
	color: #fec771;
}

.blurie {
	color: #223d41;
	font-weight: 500;
	text-decoration: none;
}

.yelrie-text {
	color: #fec771;
	font-weight: 700;
}

.blurie-text {
	color: #223d41;
	font-weight: 500;
}

li.nav-border {
	border-right-style: solid;
	border-color: rgba(255, 255, 255, 0.3);
	margin-top: 15px;
	height: 35px;
	transition: border-color 1s ease 0s;
}

nav.solid li.nav-border {
	border-color: rgba(34, 61, 65, 0.2);
	transition: border-color 1s ease 0s;
}

.btn-signup {
	padding-bottom: 35px;
	color: #fec771 !important;
	background: transparent;
	border: 2px solid #223d41;
	border-radius: 5px !important;
	-webkit-box-align: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.btn-signup:hover {
	background: #223d41;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn-signup:focus {
	background-color: transparent;
}

.btn-signup2,
.btn-login {
	padding-bottom: 35px;
	color: #fec771;
	background: #223d41;
	border: 2px solid #223d41;
	border-radius: 5px;
}

.btn-signup2:hover {
	color: #223d41;
	font-weight: bold;
	background: #fec771;
	border: 2px solid #fec771;
}

.btn-login:hover {
	background: #223d41;
	-webkit-box-shadow: 0px 3px 10px 0px rgba(34, 61, 65, 0.85);
	-moz-box-shadow: 0px 3px 10px 0px rgba(34, 61, 65, 0.85);
	box-shadow: 0px 3px 10px 0px rgba(34, 61, 65, 0.85);
}

.top-6 {
	top: 65%;
}

.mb-0 {
	margin-bottom: 0px;
}

.mb-8 {
	margin-bottom: 8px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-35 {
	margin-bottom: 35px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-80 {
	margin-bottom: 80px;
}

.ml-5 {
	margin-left: 5px;
}

.ml-10 {
	margin-left: 10px;
}

.ml-18 {
	margin-left: 18px;
}

.ml-55 {
	margin-left: 55px;
}

.ml-65 {
	margin-left: 65px;
}

.ml-75 {
	margin-left: 75px;
}

.ml-95 {
	margin-left: 95px;
}

.ml-80 {
	margin-left: 250px;
}

.mr-10 {
	margin-right: 10px;
}

.mr-20 {
	margin-right: 20px;
}

.mr-70 {
	margin-right: 70px;
}

.mr-45 {
	margin-right: 45px;
}

.mr-50 {
	margin-right: 50px;
}

.mx-15 {
	margin-left: 15px;
	margin-right: 15px;
}

.mt-0 {
	margin-top: 0px;
}

.mt-7 {
	margin-top: 7px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-60 {
	margin-top: 60px;
}

.mt-75 {
	margin-top: 75px;
}

.mt-100 {
	margin-top: 100px;
}

.pt-10 {
	padding-top: 10px;
}

.pt-50 {
	padding-top: 50px;
}

.pt-155 {
	padding-top: 155px;
}

.pb-95 {
	padding-bottom: 95px;
}

.pl-0 {
	padding-left: 0px;
}

.px-50 {
	padding-left: 50px;
	padding-right: 50px;
}

.carousel.carousel-slider .carousel-item {
	min-height: 600px !important;
}

.slide-image {
	filter: brightness(50%);
	width: 100%;
	height: auto !important;
}

h3.title {
	color: #fec771;
	font-weight: 500;
	margin-top: 130px;
	margin-bottom: 15px;
}

h5.subtitle {
	color: #223d41;
	margin-left: 15px;
	font-weight: 500;
	margin-bottom: 15px;
}

.row.chat {
	margin-top: 20px;
	margin-bottom: 0px;
}

.line-mid {
	border-right-style: solid;
	border-color: rgba(34, 61, 65, 0.2);
	height: 470px;
}

h4.bold-line:before {
	position: absolute;
	content: "";
	width: 250px;
	height: 15px;
	background: #fec771;
	bottom: 85px;
	left: 25px;
}

.page-footer {
	background-color: #23321d;
}

.footer-copyright {
	background-color: #212e1b !important;
}

a.fa-facebook-square,
a.fa-instagram {
	color: #ffffff;
}

a.fa-facebook-square:hover {
	color: #4e5fff;
}

a.fa-instagram:hover {
	color: #ff67c7;
}

.bg-login {
	background: url(../image/Zebra_Dove.jpg);
	background-size: cover;
}

.bluder {
	border-right-style: solid;
	margin-top: 75px;
	width: 0% !important;
	margin-left: 15px !important;
	margin-right: 15px !important;
	height: 25px;
	border-color: rgb(34, 61, 65, 0.2);
}

.tabs .tab a {
	color: #223d41;
}

.tabs .tab a:hover {
	color: #fec771;
}

.tabs .tab a.active {
	color: #fec771;
}

.tabs .tab a.active:focus {
	background-color: transparent;
}

.tabs .indicator {
	background-color: #fec771;
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]) {
	border-bottom: 1px solid #fec771;
	box-shadow: 0 1px 0 0 #fec771;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label {
	color: #fec771;
}

.row.detail {
	margin-left: 50px;
	margin-right: 50px;
}

.card.z-depth-0 {
	border: 0.5px solid rgba(34, 61, 65, 0.5);
}

.title-page {
	position: absolute;
	color: white;
	font-weight: bolder;
	z-index: 100;
	top: 35%;
	left: 40%;
}

.card .card-image .card-title {
	color: #ffffff;
	font-weight: 500;
	font-size: 25px;
	z-index: 100;
}

.card .card-image .card-title#birds:before {
	display: block;
	content: "";
	width: 30%;
	height: 5px;
	background: #fec870;
}

.card .card-image .card-title:after {
	display: block;
	content: "";
	width: 40%;
	height: 5px;
	background: #fec870;
}

.card .card-image .card-title#lists:after {
	width: 90%;
}

.card .card-image .card-title#birds:after {
	display: block;
	content: "USBC Birds";
	padding-top: 5px;
	font-size: 15px;
}

.card-image.darker .card-title {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.2s, visibility 0.2s;
}

.card .card-image.darker .card-title:after {
	height: 3px;
	top: 70%;
	left: 8.5%;
	right: 0;
}

.card .card-image.darker:hover > .overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #000000;
	opacity: 0.5;
	z-index: 100;
}

.card-image.darker:hover .card-title {
	visibility: visible;
	opacity: 1;
}

.card-content.detail {
	padding-top: 10px;
}

.col.m11.detail {
	padding-left: 20px;
}

.progress.list {
	height: 14px;
	border-radius: 30px;
	background-color: transparent;
	border: 1px solid #26a671;
	padding: 1px 0 1px 1px;
}

.progress.detail {
	height: 20px;
	border-radius: 30px;
	background-color: rgba(34, 61, 65, 0.2);
}

.progress.list .determinate {
	margin: 1px 0 1px 1px;
}

.progress.list .determinate,
.progress.detail .determinate {
	border-radius: 30px;
	background-image: linear-gradient(
		45deg,
		rgba(255, 255, 255, 0.15) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%,
		transparent 75%,
		transparent
	);
	background-size: 9px 10px;
	background-color: #26a671;
}

blockquote {
	padding-left: 1rem;
	border-left: 7px solid #fec771;
}

.overlay-title {
	width: 100%;
	height: 35%;
	top: 65%;
	position: absolute;
	background-color: #000000;
	opacity: 0.7;
	z-index: 100;
}

.progress.no-bg {
	background-color: transparent;
}

.progress .determinate.blurie {
	background-color: #223d41;
}

.progress .determinate.yerie {
	background-color: #fec771;
}

p.radio-select {
	display: inline-block;
}

p.radio-select label {
	color: #223d41;
}

[type="radio"] + span:before,
[type="radio"] + span:after {
	margin-left: 10px;
	width: 18px;
	height: 18px;
}

[type="radio"]:not(:checked) + span,
[type="radio"]:checked + span {
	padding-left: 38px;
	padding-right: 10px;
	font-size: 18px;
}

[type="radio"]:not(:checked) + span:before,
[type="radio"]:not(:checked) + span:after {
	border: 2px solid #223d4152;
}

[type="radio"]:not(:checked) + span,
[type="radio"]:not(:checked) + span {
	color: #223d41;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
	background-color: #fec771;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
	border: 2px solid #223d41;
}

.fixed-action-btn .wa-btn {
	margin-right: 100px;
	z-index: 1000;
	font-size: 30px;
	background-color: #25d366;
}

.btn-floating.btn-large i {
	line-height: 56px;
}

.btn-large i {
	font-size: 2.2rem;
}

.justify-text {
	text-align: justify;
	text-justify: inter-word;
}

.image {
	opacity: 1;
	width: 100;
	height: 100;
	transition: 0.5s ease;
	backface-visibility: hidden;
}

.gallery:hover .image {
	opacity: 0.4;
}

.grass-white-bottom:after {
	display: block;
	z-index: 4;
	width: 100%;
	height: 50px;
	content: "";
	image-rendering: -webkit-optimize-contrast;
	background-image: url(../image/grass-green.png);
}

.img-profile:before {
	display: block;
	z-index: 1;
	content: "";
	width: 150px;
	height: 6px;
	background: #fec870;
}
